<% title "Expensily - Home" %>

<p><%= link_to "My Expenses", expenses_path %> </p>

<p><%= link_to "Expense Report", reports_path %> <br/>

</p>

<p><%= link_to "My Credits", credits_path %> </p>

<p><%= link_to "My Loans", loans_path %> </p>
