/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require_self
*= require_tree .
*/

.info-bar {

	height:32px;

	margin: 0 11px 0 0;

}

.welcome {
	color: #60554B;
	float: left;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 14px;
	line-height: 32px;
	margin: 0 0 0 20px;
}

.user-name {

	color: #60554B;
	float: left;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 18px;
	line-height: 32px;
	padding: 0 10px 0 8px;
}

.home {
	padding:0 10px 0 30px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#60554b;
	line-height:32px;
	float:right;
	cursor:pointer;
}
.school {
	color: #60554B;
	float: left;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 13px;
	line-height: 32px;
	padding: 0 10px 0 8px;
}
.logout {
	padding:0 10px 0 30px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#60554b;
	line-height:32px;
	float:right;
	cursor:pointer;
	text-decoration:none;
}


.body-container{

	height: 525px;
	padding: 20px 0 0 0;


}

.brand-font{
	/*border: 1px solid #d4d4cd;*/
	font: normal 12px "Apple Chancery", Tahoma, Arial, sans-serif;
	
	
}

.form-signin {
	max-width: 300px;
	padding: 19px 29px 29px;
	margin: 0 auto 20px;
	background-color: #fff;
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.brand-name-home {
	width: 125px;
	height:40px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background: #ffffff;
	background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#C3CEE6), to(#C9C9C9));
	background-image:-moz-linear-gradient(19% 75% 90deg,#C3CEE6, #C9C9C9);
	font: bold 24px "Apple Chancery", Tahoma, Arial, sans-serif;
	padding: 2px 2px 2px 10px;
}

.brand-name-home:hover{
	width: 125px;
	height:40px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background: #a4b183;
	cursor: pointer;
	color: red;
	background-image:-webkit-gradient(linear, 0% 0%,
		0% 100%, from(#A4B183), to(#C2D19B));
		background-image:-moz-linear-gradient(19% 75%
			90deg,#A4B183, #C2D19B);
			font: bold 24px "Apple Chancery", Tahoma, Arial, sans-serif;
			padding: 2px 2px 2px 10px;
			-webkit-transform:  scale(1.2);
			-moz-transform: scale(1.2);
			-o-transform:  scale(1.2);
			transform:  scale(1.2);
		}
