<% title "Expenses" %>

<p><%= link_to "Home", home_index_path %></p>

<p><%= link_to "New Expense", new_expense_path %></p>


Select Month to filter record by month-wise: 
<%= select_tag :month_wise_expense, options_for_select(Array[*@expense_month_array.collect {|v,i| [v,@expense_month_array.index(v)] }]), { :prompt => "Select a Month" }  %>
<br />
<br />
<div id="expense_list" style="float:center;">

<%= render "expense_list" %>

</div>
